<div class="container-fluid primary-bg p-4">
    <div class="row" *ngIf="!this.isView">
        <div class="col-6">
          <h3 class="title-primary">Assignment Details</h3>
        </div>
        <div class="col-6 mb-3 text-end">
          <button class="btn btn-link" (click)="goBack()">
            <i class="bi bi-arrow-left title-primary mx-2"></i>Back
          </button>
        </div>
        <hr />
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" [class.active]="status == 'Pending'" (click)="statusChange('Pending')">Assigned</button>
            <button type="button" class="btn btn-outline-primary" [class.active]="status == 'Completed'" (click)="statusChange('Completed')">Completed</button>
          </div>
        </div>
       </div>
    <app-data-table [tableHeader]="assignmentHeader" [tableData]="assignmentData"  (emitAction)="getAction($event)"></app-data-table>

</div>

<app-modal
  [modalSetting]="assignmentSetting"
  (close)="closeModal($event)"
  *ngIf="assignmentSetting?.isOpen">
  <app-assigned-assessment (sendAssessment)="getAssessment($event)" [assignment]="selectedAssignment"></app-assigned-assessment>
</app-modal>

<app-modal
  [modalSetting]="viewAssignmentSetting"
  (close)="closeViewAssignment($event)"
  *ngIf="viewAssignmentSetting?.isOpen">
  <app-view-assignment [viewData]="viewData"></app-view-assignment>
</app-modal>

