<div class="container-fluid p-0 primary-bg mb-2">
  <div class="">
    <div class="col-12">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg shadow">
        <div class="container-fluid">
          <img [src]="headerInfo[0]?.logo_url || logo_url" class="logo" alt="logo" />
          <h3 class="title-primary mt-30">{{headerInfo[0]?.title}}</h3>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link title pointer"> <i class="bi bi-person-circle mx-2"></i>{{ userName | titlecase }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer title" (click)="logout()">Logout <i class="bi bi-box-arrow-right mx-2"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer title" (click)="openReset()">Reset Password</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<app-modal
  [modalSetting]="resetSetting"
  (close)="close($event)"
  *ngIf="resetSetting?.isOpen">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group">
        <label for="name">Password<span class="title-primary">*</span></label>
        <input
          type="text"
          class="form-control input-sm"
          id="name"
          placeholder="Please enter Password"
          formControlName="pwd"
        />
      </div>
     </div>
     <div class="row mt-2">
      <div class="col-12 text-center">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </div>
  </form>
</app-modal>
