.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.custom-bg{
  /* background-color: #9A616D; */
}
.title{
  font-weight: 400;
  color:#1d5e8b ;
}
.mt-30{
  margin-top: 30px !important;
}