<div style="text-align:center">
	<div>
		<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
		 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
		 (initError)="handleInitError($event)"></webcam>
		<br/>
		<div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
	</div>
</div>

<!-- <div style="text-align:center">
    <div><video #video id="video" width="500" height="500" autoplay></video></div>
    <div *ngIf='!captures.length'><button (click)="capture()">📸</button></div>
    <div *ngIf='captures.length'><button (click)="reCapture()">📸</button></div>
    <canvas #canvas id="canvas" width="500" height="500"></canvas>
    <ul>
        <li *ngFor="let c of captures">
            <img src="{{ c }}" height="50" />
        </li>
    </ul>
</div> -->
