<div class="container-fluid primary-bg">
  <div class="row p-2">
    <div class="col-2">
      <h3 class="title-primary">Dashboard</h3>
    </div>
    <div class="col-10 d-flex justify-content-end">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" *ngIf="!studentRole && !parentRole && (adminRole || teacherRole)">
                <a
                  class="nav-link dropdown-toggle"
                  id="student"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Student
                </a>
                <ul class="dropdown-menu" aria-labelledby="student">
                  <li class="pointer" (click)="navigateRout('addStudent')">
                    <a class="dropdown-item">Add Student</a>
                  </li>
                  <li class="pointer" (click)="navigateRout('studentDetails')">
                    <a class="dropdown-item">Student Details</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown" *ngIf="!studentRole && !parentRole && !teacherRole && adminRole">
                <a
                  class="nav-link dropdown-toggle"
                  id="Teacher"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Teacher
                </a>
                <ul class="dropdown-menu" aria-labelledby="Teacher">
                  <li class="pointer" (click)="navigateRout('addTeacher')">
                    <a class="dropdown-item">Add Teacher</a>
                  </li>
                  <li class="pointer" (click)="navigateRout('teacherDetails')">
                    <a class="dropdown-item">Teacher Details</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown" *ngIf="!studentRole && !parentRole && (adminRole || teacherRole)">
                <a
                  class="nav-link dropdown-toggle"
                  id="Question"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Question
                </a>
                <ul class="dropdown-menu" aria-labelledby="Question">
                  <li class="pointer" (click)="navigateRout('addQuestion')">
                    <a class="dropdown-item">Add Question</a>
                  </li>
                  <li class="pointer" (click)="navigateRout('questionDetails')">
                    <a class="dropdown-item">Question Details</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item pointer" (click)="navigateRout('courseStatus')" *ngIf="!studentRole && !parentRole && (adminRole || teacherRole)">
                <a class="nav-link" tabindex="-1" aria-disabled="true"
                  >Course Status</a
                >
              </li>
              <li class="nav-item pointer" (click)="navigateRout('assign-details')" *ngIf="studentRole && !parentRole && !adminRole && !teacherRole">
                <a class="nav-link" tabindex="-1" aria-disabled="true"
                  >Assignment Details</a
                >
              </li>
              <li class="nav-item pointer" (click)="navigateRout('report')" *ngIf="!studentRole && (parentRole || adminRole || teacherRole)">
                <a class="nav-link" tabindex="-1" aria-disabled="true"
                  >Report</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12 back-bg vh-100 vw-100"></div>
  </div>
</div>
