<div class="container">
    <div class="card p-3 text-center">
      <div class="row">
        <div class="col-md-4">
          <div class="inputs">
            <label>Name</label>
            <label class="fw-bold">{{ viewData.userName}}</label>
          </div>
          <hr />
        </div>
        <div class="col-md-4">
          <div class="inputs">
            <label>Roll No</label>
            <label class="fw-bold">{{ viewData.extId}} </label>
          </div>
          <hr />
        </div>
        <div class="col-md-4">
          <div class="inputs">
            <label>Email</label>
            <label class="fw-bold">{{ viewData.emailId}} </label>
          </div>
          <hr />
        </div>
        <div class="col-md-4">
          <div class="inputs">
            <label>Student Mobile Number</label>
            <label class="fw-bold">{{ viewData.mobileNo}} </label>
          </div>
          <hr />
        </div>
        <div class="col-md-4">
          <div class="inputs">
            <label>Class</label>
            <label class="fw-bold">{{className}} </label>
          </div>
          <hr />
        </div> 
        <div class="col-md-4">
          <div class="inputs">
            <label>Subject</label>
            <label class="fw-bold">{{subjectList}} </label>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h6 class="fw-bold">Relationship details</h6>
          <app-data-table [tableHeader]="parentHeader" [tableData]="parentData"></app-data-table>
        </div>
      </div>
    </div>
  </div>
  