<div class="container-fluid primary-bg p-4">
    <div class="row">
        <div class="col-6">
          <h3 class="title-primary">Student Details</h3>
        </div>
        <div class="col-6 mb-3 text-end">
          <button class="btn btn-link" (click)="goBack()">
            <i class="bi bi-arrow-left title-primary mx-2"></i>Back
          </button>
        </div>
        <hr />
      </div>
      <div class="row">
        <div class="col-3 mb-2">
          <div class="form-group d-flex">
            <label for="mobile" class="p-2">Class</label>
            <select
              class="form-select"
              aria-label="Default select example"          
            >
              <option value="" selected disabled>select class</option>
              <option value="{{ cla.dropdownKey }}" *ngFor="let cla of allClasses">
                {{ cla.dropdownValue }}
              </option>
            </select>
          </div>
        </div>
       </div>
    <app-data-table [tableHeader]="studentHeader" [tableData]="studentData"  (emitAction)="getAction($event)"></app-data-table>
</div>

  <app-modal [modalSetting]="editModalSetting" (close)="closeModal($event)" *ngIf="editModalSetting?.isOpen">
    <app-update-student [updateData]="editData" (close)="closeModal($event)"></app-update-student>
  </app-modal>

  <app-modal [modalSetting]="viewModalSetting" (close)="closeModal($event)" *ngIf="viewModalSetting?.isOpen">
    <app-view-student [viewData]="viewData"></app-view-student>
  </app-modal>