  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="tabDetails('basic')">
      <a class="nav-link" [ngClass]="{ active: currentTab === 'basic' }"
        >Basic Details</a
      >
    </li>
    <li class="nav-item" (click)="tabDetails('subject')">
      <a class="nav-link" [ngClass]="{ active: currentTab === 'subject' }"
        >Subject</a
      >
    </li>
  </ul>

  <div class="container-fluid">
    <div class="panel panel-primary" style="margin: 20px">
      <div *ngIf="currentTab === 'basic'">
        <form [formGroup]="updateProfile" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <label for="visitorid">Name </label>
              <input
                type="text"
                class="form-control input-sm"
                id="visitorid"
                placeholder="Please enter name"
                formControlName="teacherName"
              />
              <div *ngIf="(f['teacherName'].touched || submitted) && f['teacherName'].errors">
                <div *ngIf="f['teacherName'].errors['required']" class="error">
                  Please enter Student name
                </div>
                <div *ngIf="f['teacherName'].errors['maxlength']" class="error">
                  Max length can't be less then 25
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="name"
                  >Email Id<span class="title-primary">*</span></label
                >
                <input
                  type="email"
                  class="form-control input-sm"
                  placeholder="Please enter email"
                  formControlName="email"
                  id="email"
                  name="email"
                />
              </div>
              <div *ngIf="(f['email'].touched || submitted) && f['email'].errors">
                <div *ngIf="f['email'].errors['required']" class="error">
                  Please enter email
                </div>
                <div *ngIf="f['email'].errors['pattern']" class="error">Email is not Valid</div>
                <div *ngIf="f['email'].errors['maxlength']" class="error">
                  Max length can't be less then 25
                </div>
              </div>
             
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label> Contact Number <span class="title-primary"></span></label>
                <input
                  type="text"
                  class="form-control input-sm"
                  id="studentNo"
                  placeholder="Please enter Contact Number"
                  formControlName="teacherNo"
                  (keypress)="numberOnly($event)"
                  maxlength="10"
                />
              </div>
            </div>
            <div class="col-6">
              
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center mt-2">
              <button class="btn btn-primary w-10" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="currentTab === 'subject'">
        <form [formGroup]="subjectForm">
          <table class="table">
            <thead>
              <th width="40%">Class</th>
              <th width="40%">Subject</th>
              <th>Action</th>
            </thead>
            <tbody>
                  <tr *ngFor="let data of classSubject;let i = index" formArrayName="cla_group">
                    <ng-container *ngIf="!data.isAdd">
                      <td>{{ data.className}}</td>
                      <td>{{ data.subjectName}}</td>
                      <td><i
                        class="mx-1 title-primary pointer bi bi-trash"
                        (click)="deleteClass(data)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="delete"
                      ></i></td>
                    </ng-container>
                    <ng-container *ngIf="data.isAdd" [formGroupName]="i">
                      <td>
                        <select
                        class="form-select"
                        aria-label="Default select example"
                        formControlName="class"
                        (ngModelChange)="selectedClass($event)"
                      >
                        <option value="" selected disabled>select class</option>
                        <option
                          value="{{ cla.dropdownKey }}"
                          *ngFor="let cla of allClasses"
                        >
                          {{ cla.dropdownValue }}
                        </option>
                      </select>
                      <div
                        class="error"
                        *ngIf="
                          getReferrals(i).controls['class'].touched &&
                          getReferrals(i).controls['class'].hasError(
                            'required'
                          )
                        "
                      >
                        Relation Required
                      </div>
                      </td>
                      <td>
                        <ng-multiselect-dropdown [data]="subjectList" [settings]="settings"
                         formControlName="subject"></ng-multiselect-dropdown>
                         <div
                        class="error"
                        *ngIf="
                          getReferrals(i).controls['subject'].touched &&
                          getReferrals(i).controls['subject'].hasError(
                            'required'
                          )
                        "
                      >
                        Relation Required
                      </div>
                      </td>
                      <td>
                        <span class="d-flex">
                          <i
                            class="mx-1 title-primary pointer bi bi-save2-fill"
                            data-toggle="tooltip"
                            (click)="saveSubject(data,i)"
                            data-placement="top"
                            title="save"
                          ></i>
                          <i *ngIf="!data.userId"
                            class="mx-1 title-primary pointer bi bi-x-circle"
                            (click)="cancelSubject(data,i)"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="cancel"
                          ></i>
                        </span>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </form>
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addClassSubject()">
                  Add
                </button>
              </div>
            </div>
      </div>
    </div>
  </div>
  
